*{
    margin: 0;
    padding: 0;
  }
  
  #root{
    font-family: 'Roboto', sans-serif;
    background-color: rgb(202, 200, 196);
    //let the height of the root element be the height of the viewport unless the content is taller
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    

  }